# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
target
src-tauri/target

# Python / Engine
engine/venv/
engine/__pycache__/
engine/*.mp4
engine/*.onnx
!engine/*.py

engine/test_video.mp4
engine/build/
engine/dist/
engine/*.spec
